PIPENV_IGNORE_VIRTUALENVS=1

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
sqlalchemy = "*"

[dev-packages]
requests = "*"
black = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
